@media (max-width: 1200px) {
  .card {
    width: 22%;
  }
}
@media (max-width: 1000px) {
  .card {
    width: 30%;
  }
}
@media (max-width: 1000px) {
  .card {
    font-size: 15px;
  }
}

/*@media (max-width: 600px) {
  .card {
    font-size: 25px;
     width: 50%;
  }
}*/
