.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 18%;
  /*height: 465px;*/
  border-radius: 5px;
  background-color: white;
  display: inline-block;
  margin: 2% 0.5%;
  text-align: left;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  /*height: 239px;*/
}

.info {
  padding: 2px 16px;
}

.checked {
  color: orange;
}

.button {
  text-decoration: none;
  display: block;
  width: 50%;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  background-color: rgb(174, 240, 196);
  margin-bottom: 10px;
}

body {
  font-family: Bradley Hand, cursive;
  background-color: rgb(174, 240, 196);
  text-align: center;
}

h4 {
  margin: 15px 0;
  text-transform: uppercase;
}

p {
  margin: 12px 0;
}
